body {
    background-color: #000;
    color: #7f69a9;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}


.pictures {
    max-width:100%;
    max-height:65%;
}
.card-text {
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.card-title {
    color: #fff;
}

header {
    font-size: 3rem;
}

.card {
    background-color: #000;
}

.card-link {
    color: #7f69a9;
}

.line {
    color: #fff;
    border-top: 2px dashed #fff;
}

.d-block {
    max-width: 75%;
    max-height:65%;
}

.carousel-control-prev {
    width: 20px;
    height: 20px;
    border-radius: 75%;
    margin-top: 20rem;
}

.carousel-control-next {
    width: 20px;
    height: 20px;
    border-radius: 75%;
    margin-right:15rem;
    margin-top: 20rem;
}

.line2 {
    color: #fff;
    border-top: 1px solid #fff;
}

.carousel-caption {
    color:#000;
    font-weight:900;
    margin-left: 15rem;

}

li {
    margin-left: 15rem;
    margin-top:20rem;
}

.carousel-captions {
    color:#fff;
    font-weight:900;
    margin-left: 15rem;
}

#footer {
    color:#f0f;
    padding-right:100px;
}

.family {
    float: left;
    width: 33.3%;
    padding: 10px;
}

#text1 {
    text-align: center;
}

#text2 {
    text-align: right;
}

